body, html {
    height: 100%;
}
body{
    background-image: none;
    padding-top: 150px;
}
.bg {
    background: linear-gradient(180deg, rgba(248,216,224,0.8) 0%, rgba(255,255,255,1) 75%);
    background-attachment: fixed;
}
.main{
    position: relative;
}

#dot {
     z-index: -1;
     display: flex;
     justify-content: flex-end;
     position: absolute;
     right: 20%;
     top: 50px;
}

.team__cont{
    min-height: 465px;
    background: white;
    margin: 0 auto;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-top: 8%;
    margin-bottom: 90px;
}

.heading {
    font-family: 'Pridi', serif;
    font-size: 64px;
    color: #000;
    margin:30px ;
}

.hearts{
    margin: 5px;
}

.space {
    justify-content: space-between;
    align-items: flex-start;
}

.team__group {
    margin-bottom: 50px;
}

.team__group > ul > li{
    width: 48%;    
}

.team__group > ul > li > .col {
    min-height: 430px;
    padding: 50px;
    background-color: white;
    border: 3px solid #F8D8E0;    
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.25);
    border-radius: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}
.title {
    color: #000;
    margin: 0;
    margin-bottom: 15px;
}
.names {
    font-family: 'Pridi', serif;
    font-size: 24px;
    font-weight: 400;
}
.bio {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0; padding: 0;
    margin: 0 auto;    
}
.nimbus__cont{
    margin-bottom: 100px;
}
.nimbus {
    width: 70%;
    min-height: 380px;
    background: white;
    margin: 0 auto;
    border: 3px solid #F8D8E0;
    box-sizing: border-box;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.25);
    border-radius: 20px;
    padding: 50px;
}

.team_bio {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

/* background bubble */
#left {
    z-index: -1;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    bottom: 0px;
}

#right {
    z-index: -1;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    bottom: 0px;   
}