html, body {
    margin: 0;
    justify-content: center;
    font-family: 'Pridi', serif;
    font-family: 'Raleway', sans-serif;
}
body{    
    /* background: linear-gradient(180deg, rgba(248,216,224,0.8) 0%, rgba(255,255,255,1) 75%); */
    
    /* background gradation image template */
    background-image: url('/images/background_pink.svg');    
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 260px;
}
img {
    display: block;
}
.main {
    justify-content: center;    
}
.container { /*this is the div container*/
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    width: 80%;
    word-wrap: break-word;
    padding: 5px;
}
.container > h1 {
    text-align: center;
}
header {
    background-color:#F8D8E0;
    min-height: 130px;
    max-height: 130px;
    width: 100%;
    margin-bottom: 65px;
    box-shadow: 0px 4px 15px 4px rgba(0,0,0,0.25);
}

/* ===========================================================
        text related
=========================================================== */
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Pridi', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #000000;
}
h2 {
    font-size: 36px;
    color: #000000;
}
h3 {
    font-size: 28px;
    color: #000000;
}
h4 {
    font-size: 24px;
    color: #000000;
}
h5 {
    font-size: 20px;
    color: #000000;
}
.hamburgerMenu {
    font-family: 'Pridi', serif;
    font-size: 28px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

p, input, textarea {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
}
input {
    font-weight: 400;
}
button {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 300;    
}
.popup {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;  
}
.links {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300; 
    text-decoration: underline;
}

/* =============================
    flex stuff
============================= */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* ===========================
    header stuff
============================ */
.header{
    position: fixed;
    top: 0;    
    z-index: 9999;
    display: block;
    transition: top 0.2s ease-in-out;
}

.headerStuff {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;    
}

.logo {
    width: auto; 
    height: 50px;
    object-fit: cover;
    justify-content: flex-start;
}

.logo img {
    width: 100%; height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    float : left;
    text-align: center;
}
ul li a{
    display: block;
    color: #000;
    text-align: left;
    text-decoration: none;
}
.main_menu li a {
    display: block;
    color: #000;
    font-size: 24px;
    text-align: center;
    padding: 48px 30px;
    text-decoration: none;
    position: relative;
}

.main_menu li a:before{
    content : '';
    position: absolute;
    background-color: #EA3958;
    height: 10px;
    width : 0;
    border-radius: 6px 6px 0 0;
    bottom: 0px; left: 50%;
    transition: 0.5s; 
    transform: translateX(-50%);
}

.main_menu li a:hover:before {
    width: 80%;
}
.main_menu li a:active:before {
    width: 80%;
}
.active {
    text-decoration: underline;
}
.nav-up {
    top: -130px;
}

/* ===========================
    footer stuff
============================ */
footer {  
    background-color: #F8D8E0;
    width: 100%;
    border-radius: 30px 30px 0 0; 
    box-shadow: 0px -5px 6px 4px rgba(0,0,0,0.15); 
    box-sizing: border-box;
    align-content: stretch;    
}

.footerStuff {
    width: 80%;
    padding: 50px 0 10px;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    position: relative;
}

.fTitle_0{
    margin-bottom: 10px;
}

.fTitle{
    margin-bottom: 10px;
    text-indent: 30px;
}

.bttm_left{
    width:100px;
    align-items: flex-start;    
}

.bttm_mid{
    flex: 1;
    margin-top: 30px;
}

.bttm_right{
    width: 200px;
    align-items: flex-start;
}

.bttm_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bttm_menu > li > a{
    font-size: 18px;
    line-height: 36px;
}

.bttm_menu > li:hover a{
    color: #EA3958;
    transition: 0.3s; 
}

.logo{
    text-decoration: none;
}

.bLogo_text{
    font-size: 24px;  
    text-align: center;
}

.bCopy{
    margin-top: 50px;
    text-align: center;
}

.backToTop{
    width: 68px; height: 68px;
    border-radius: 50%;
    opacity: 0.5;
    background-image: url("/images/icon_top_arrow.svg");
    background-size: 68px 136px;
    background-repeat: no-repeat;
    background-position: top center;
    text-indent: -9999px;
    position: absolute;
    top: -34px; right: 0px;
    cursor: pointer;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.25);
}

.backToTop:hover{
    background-position: bottom center;
}

/* BUTTON */
.button {
    min-width: 200px; height: 65px;
    border-radius: 35px;
    background-color: #EA3958;    
    box-sizing: border-box; 
    margin: 0 10px 10px; 
    padding: 5px;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.25);
}

.button > div{
    align-items: flex-start;
    margin-right: 5px;
    padding-left: 8px;
}

.button > div > p{
    color: #fff;
    margin: 0;
}
.button > div > h5{
    color: #fff;
    margin: 0;
}
.button > div > h2{
    color: #fff;
    margin: 0;
}

.button > div > p{
    font-size: 12px;;
}

.apple {
    width: 35px; height: 40px;
    background-image: url("/images/icon_apple.svg");
    background-size: 32px 80px;
    background-repeat: no-repeat;
    background-position: top center;
    text-indent: -9999px;
    text-align: center;
}

.android{
    width: 39px; height: 48px;
    background-image: url("/images/icon_android.svg");
    background-size: 39px 48px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
}
/* button hover */
.button:hover{
    background-color: #fff;  
    transition: 0.3s;  
}

.button:hover p{
    color: #000;
    transition: 0.3s; 
}

.button:hover h5{
    color: #000;
    transition: 0.3s; 
}
.button:hover h2{
    color: #000;
    transition: 0.3s; 
}
.button:hover .apple{
    background-position: bottom center; 
} /* button hover ends */


/* ===========================================================
        page styles
=========================================================== */

/* HOME PAGE STARTS======== */

/* download section starts */
.download__cont{
    width: 100%; min-height: 500px;
    background-color: #F8D8E0;
    border-radius: 20px;
    justify-content: space-around;
    padding: 50px;
    margin-bottom: 95px;
    box-sizing: border-box;
}

.download__cont> .d_left{
    flex-basis: 1;
    margin: 0; 
    position: relative;
}
.download__cont> .d_left::before {    
    content: "";
    background-image: url('/images/background_heart.gif');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
.v__logo{
    width: 380px; height: auto;
    margin: 0 auto;
}
.dLogo_text {
    width: 405px;
    font-size: 36px;
    line-height: 1.25em;
    text-align: center;
    margin: 30px 0 0;
}

.download__cont> .d_right{
    flex-basis: 1;
}
.d__bttn__li{
    margin-bottom: 30px; 
}
.d__bttn{
    width: 386px; height: 125px; 
}
.d__bttn > .d__bttn__txt{
    margin-right: 30px;
}
.d__bttn > div > .d__bttn__p{
    font-size: 20px;
    font-weight: 500;
}
.d__bttn > .apple{
    width: 60px; height: 75px;
    background-size: 60px 150px;
}
.d__bttn > .android{
    width: 68px; height: 80px;
    background-size: 68px 80px;
}

/* PROMO VID SECTION */
.vid__cont{    
    box-shadow: 0px 4px 15px 4px rgba(0,0,0,0.25);
    border-radius: 0;
    margin: 0; padding: 0;
    margin-bottom: 110px;
}
.hidden{
    text-indent: -999px;
    font-size: 0;
}
.promoVid {
    width: 100%;
    height: auto;
}

/* FEATURES SECTION */
.feat__cont{
    margin-bottom: 100px;
}
.feat__top{
    margin-bottom: 30px;
}
.feat__bttm{
    margin-bottom: 30px;
}
.feat__top > h2{
    color: #000;    
}
.feat__top > p{
    text-align: center;
    font-weight: 400;
}
.f__ul{
    width: 100%;
}
.fList__cont{
    width: 27%; 
    min-width: 235px;
    min-height: 300px;
    padding: 40px 20px 20px;
    background-color: #fff;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.1);
    justify-content: flex-start;
}
.feat_icon{
    width: 105px; height: 80px;
    margin-bottom: 30px;
}
.f__text{
    text-align: left;
    flex-basis: 1;
}
.more_bttn{
    width: 345px;
    height: 55px;
    border: none;
    background-color: #F8D8E0;
    border-radius: 55px;
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.25);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
form button:hover{
    background-color: #EA3958;
    color: #fff;
    transition: 0.3s;
}

/* HOME PAGE ENDS======== */


/* ===========================================================
        media query
=========================================================== */

@media only screen and (min-width: 1300px) {
    .headerStuff, .footerStuff {
        width: 1200px;
        margin: 0 auto;
    }
    .container {
        width: 1100px;
    }
    .download__cont {
        width: 100%;
    }    
}
@media only screen and (min-width: 1201px) and (max-width: 1300px){
    .download__cont {
        width: 90%;
    }    
}

@media screen and (min-width: 1101px) and (max-width: 1200px){
    .headerStuff, .footerStuff {
        width: 1000px;
    }
    .download__cont {
        width: 90%;
    }    
}

@media screen and (min-width: 936px) and (max-width: 1100px) {
    .headerStuff, .footerStuff {
        width: 900px;
    }
    .main_menu > li > a {
        font-size: 22px;
        padding: 49px 20px;
    }
    
    .d_left{
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 935px) {
    .headerStuff, .footerStuff {
        width:90%;
        margin: 0 auto;
    }
    .logo{
        width: 150px;
    }

    .main_menu > li > a {
        font-size: 20px;
        padding: 49px 10px;
    }

    .logo{
        margin-right: 0;
    }

    .headerStuff > .main_menu{
        width: 55%;
    }    
}

@media screen and (max-width: 736px){
    .main_menu > li > a {
        font-size: 20px;
        padding: 49px 10px;
    }
} 

