html, body {
    margin: 0;
    justify-content: center;
    font-family: 'Pridi', serif;
    font-family: 'Raleway', sans-serif;
}
body{    
    background: linear-gradient(180deg, rgba(248,216,224,0.8) 0%, rgba(255,255,255,1) 75%);
    /* background-attachment: fixed; */
}
img {
    display: block;
}
.main {
    justify-content: center;
    width: 100vw;
}
.container { /*this is the white div container*/
    /* background-color: white; */
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    width: 80vw;
    min-height: 800px;

    /* margin: 50px 100px; */
    padding: 30px 50px;
    word-wrap: break-word;
}
.container > h1 {
    text-align: center;
}
header {
    background-color:#F8D8E0;
    min-height: 130px;
    max-height: 130px;
    width: 100vw;
    margin-bottom: 65px;
    box-shadow: 0px 4px 15px 4px rgba(0,0,0,0.25);
}

/* ===========================================================
        text related
=========================================================== */
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Pridi', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #000000;
}
h2 {
    font-size: 36px;
    color: #000000;
}
h3 {
    font-size: 28px;
    color: #000000;
}
h4 {
    font-size: 24px;
    color: #000000;
}
h5 {
    font-size: 20px;
    color: #000000;
}
.hamburgerMenu {
    font-family: 'Pridi', serif;
    font-size: 28px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: black;
}
button {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 300;    
}
.popup {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 300;  
}
.links {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300; 
    text-decoration: underline;
}

/* =============================
    flex stuff
============================= */
.flex {
    display: flex;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* ===========================
    header stuff
============================ */
.header{
    -webkit-position: sticky;
    position: sticky;
    top: 0;    
}

.headerStuff {
    width: 80%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: auto; 
    height: 50px;
    object-fit: cover;
}

.logo img {
    width: 100%; height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul li {
    float : left;
    text-align: center;
}
ul li a{
    display: block;
    color: #000;
    text-align: left;
    text-decoration: none;
}
.main_menu li a {
    display: block;
    color: #000;
    font-size: 24px;
    text-align: center;
    padding: 48px 30px;
    text-decoration: none;
    position: relative;
}

.main_menu li a:before{
    content : '';
    position: absolute;
    background-color: #EA3958;
    height: 10px;
    width : 0;
    border-radius: 6px 6px 0 0;
    bottom: 0px; left: 50%;
    transition: 0.5s; 
    transform: translateX(-50%);
}

.main_menu li a:hover:before {
    width: 80%;
}
.main_menu li a:active:before {
    width: 80%;
}
.active {
    text-decoration: underline;
}

/* ===========================
    footer stuff
============================ */

footer {  
    background-color: #F8D8E0;
    width: 100vw;
    border-radius: 30px 30px 0 0; 
    box-shadow: 0px -5px 6px 4px rgba(0,0,0,0.15); 
    box-sizing: border-box;
    align-content: stretch;    
}

.footerStuff {
    width: 80%;
    padding: 50px 0 10px;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    position: relative;
}

.fTitle{
    margin-bottom: 10px;
    text-indent: 30px;
}

.bttm_left{
    width:100px;
    align-items: flex-start;    
}

.bttm_mid{
    flex: 1;
    margin-top: 30px;
}

.bttm_right{
    width: 200px;
    align-items: flex-start;
}

.bttm_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bttm_menu > li > a{
    font-size: 18px;
    line-height: 36px;
}

.bttm_menu > li:hover a{
    color: #EA3958;
    transition: 0.3s; 
}

.logo{
    text-decoration: none;
}

.bLogo_text{
    font-size: 24px;  
}

.bCopy{
    margin-top: 50px;
}

.backToTop{
    width: 68px; height: 68px;
    border-radius: 50%;
    background-image: url("/images/icon_top_arrow.svg");
    background-size: 68px 136px;
    background-repeat: no-repeat;
    background-position: top center;
    text-indent: -9999px;
    position: absolute;
    top: -34px; right: 0px;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.25);
}

.backToTop:hover{
    background-position: bottom center;
}

/* BUTTON */
.button {
    min-width: 200px; height: 65px;
    border-radius: 35px;
    background-color: #EA3958;    
    box-sizing: border-box; 
    margin: 0 10px 10px; 
    padding: 5px;
    box-shadow: 1px 2px 5px 3px rgba(0,0,0,0.25);
}

.button > div{
    align-items: flex-start;
    margin-right: 5px;
    padding-left: 8px;
}

.button > div > p, h5{
    color: #fff;
    margin: 0;
}

.button > div > p{
    font-size: 12px;;
}

.apple {
    width: 35px; height: 40px;
    background-image: url("/images/icon_apple.svg");
    background-size: 32px 80px;
    background-repeat: no-repeat;
    background-position: top center;
    text-indent: -9999px;
}

.android{
    width: 39px; height: 48px;
    background-image: url("/images/icon_android.svg");
    background-size: 39px 48px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -9999px;
}

.button:hover{
    background-color: #fff;  
    transition: 0.3s;  
}

.button:hover p{
    color: #000;
    transition: 0.3s; 
}

.button:hover h5{
    color: #000;
    transition: 0.3s; 
}

.button:hover .apple{
    background-position: bottom center; 
}









/* ===========================================================
        page styles
=========================================================== */


/* ===========================================================
        media query
=========================================================== */

@media only screen and (min-width: 1300px) {
    .headerStuff, .footerStuff {
        width: 1200px;
        margin: 0 auto;
    }
    .container {
        width: 1100px;
    }
}